.zi-card {
  .header {
    display: flex;
    justify-content: space-around;
    
    & > h4 {
      flex-grow: 1;
    }
  }

  .body {
    padding-left: 0;
    padding-right: 0;

    & > .item {
      padding: .5em 0;
      display: flex;
      justify-content: space-between;

      & > .title {
        word-break: break-all;
        text-align: left;
        width: 50%;
      }
      
      & > .data {
        text-align: right;
        width: 50%;
        font-weight: 500;
      }
    }
  }

  .footer {
    margin-top: 1em;
    padding: 1em 0;
    border-top: 1px solid #ccc;
  }
}


