.footer {
  padding: 2em;
  text-align: center;
  background-color: #fafafa;
  border-top: 1px solid #eee;
  font-size: 12px;
  font-weight: 200;
  color: #959595;
}

.footer .item {
  padding: 2px 1em;
  border-left: 1px solid #efefef;
  border-right: 1px solid #efefef;
}

.footer .link {
  font-weight: 200;
  color: #959595;
}

.footer .line {
  margin-top: 2em;
  text-align: center;
}

.modal-header,
.modal-footer {
  border: 0;
}

.header {
  padding: 2rem 3rem 0;
  margin-bottom: 4rem;
  border-bottom: 1px solid #efefef;
}

.header h1 {
  margin: 2em 0 1em 0;
}

.header .header-link {
  display: inline-block;
  margin: 1rem 0;
}
