.footer {
  padding: 2em;
  text-align: center;
  background-color: #fafafa;
  border-top: 1px solid #eee;
  font-size: 12px;
  font-weight: 200;
  color: #959595;
  min-width: 320px;
}

.footer .links, .footer .copyright {
  margin: 1em 0;
  border: 0;
}

.footer .copyright {
  font-weight: 200;
}

.footer .links {
  min-width: 320px;
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
}

.footer .item {
  padding: 2px 1em;
}

.footer .link {
  font-weight: 200;
  color: #959595;
}

.footer .line {
  margin-top: 2em;
  text-align: center;
}

.modal-header, .modal-footer {
  border: 0;
}

.header {
  padding: 2rem 3rem 0;
  margin-bottom: 4rem;
  border-bottom: 1px solid #efefef;
}

.header h1 {
  margin: 2em 0 1em 0;
}

.header .header-link {
  display: inline-block;
  margin: 1rem 0;
}

@media screen and (max-width: 460px) {
 .header h1 {
   text-align: center;
 }
}

* {
  transition: none;
}

.loading-container {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 999999;
  background-color: rgba(255, 255, 255, .9);
  display: flex;
  justify-content: center;
  align-items: center;
}

.loading-container > .loading {
  color: #bbb;
  font-size: 3rem;
}
