.index-input {
  margin-bottom: 2em;

  & input, & textarea {
    margin: 0;
  }

  & textarea {
    height: auto;
  }
}

.index-logo {
  margin-bottom: 3em;
}

.index-button {
  margin: .5em 0;
}

input.box-item {
  box-sizing: border-box;
}

.box-item-wrapper {
  width: 280px;
  display: flex;
  justify-content: center;
}
