<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Create | TraceL.ink</title>
  <%= require('./parts/head.ejs')() %>
</head>

<body>
  <header class="container-fluid header">
    <div class="row d-flex justify-content-center">
      <div class="col-12 col-sm-12 col-md-10 col-lg-8 col-xl-8">
        <a href="/">
          <img src="/assets/img/logo.svg" alt="logo" height="32px">
        </a>
        <h1>Create a track link</h1>
        <a class="header-link" href="/">&larr;&nbsp;Back to Home page</a>
      </div>
    </div>
  </header>
  <div id="root"></div>
  <%= require('./parts/footer.ejs')() %>
</body>

</html>