<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>TraceL.ink</title>
  <%= require('./parts/head.ejs')() %>
</head>

<body>
  <div id="root"></div>
  <%= require('./parts/footer.ejs')() %>
</body>

</html>