<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title><%= title %></title>
  <%= require('html-loader!./parts/head.html') %>
</head>

<body>
  <header class="container-fluid header">
    <div class="row d-flex justify-content-center">
      <div class="col-12 col-sm-12 col-md-10 col-lg-8 col-xl-8">
        <a href="/">
          <img src="/assets/img/logo.svg" alt="logo" height="32px">
        </a>
        <h1>Detail about a specified record</h1>
        <a class="header-link" href="#" onclick="window.history.go(-1);">&larr;&nbsp;Go back</a>
      </div>
    </div>
  </header>
  <div id="root">
    <%= require('html-loader!./effects/loading.html') %>
  </div>
  <%= require('html-loader!./parts/footer.html') %>
</body>

</html>