<div class="container-fluid footer w-100">
  <div class="row">
    <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 links">
      <span class="item">
        <a class="link" href="https://github.com/lenconda/tracelink_web">
          <i class="fa fa-github"></i>&nbsp;Repo
        </a>
      </span>
      <span class="item">
        <a class="link" href="https://github.com/lenconda/tracelink_web/blob/master/LICENSE">License</a>
      </span>
      <span class="item">
        <a class="link" href="https://github.com/lenconda/tracelink_web">Legal</a>
      </span>
      <span class="item">
        <a class="link" href="https://github.com/lenconda/tracelink_web">Privacy</a>
      </span>
    </div>
    <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 copyright">
      Copyright (c) 2019 TraceLink, Inc. All rights reserved.
    </div>
  </div>
</div>
