<div class="footer">
  <span class="item">
    <a class="link" href="https://github.com/lenconda/tracelink_web">
      <i class="fa fa-github"></i>
    </a>
  </span>
  <span class="item">
    <a class="link" href="https://github.com/lenconda/tracelink_web/blob/master/LICENSE">
      Open Source License
    </a>
  </span>
  <span class="item">
    <a class="link" href="https://github.com/lenconda/tracelink_web">
      User License
    </a>
  </span>
  <span class="item">
    <a class="link" href="https://github.com/lenconda/tracelink_web">
      Privacy Policy
    </a>
  </span>
  <div class="line">Copyright (c) 2019 TraceLink, Inc. All rights reserved.</div>
</div>
